.nav {
  height: 3rem;
  width: 100%;
  background-color: #06283d;
  display: flex;
  text-align: center;
}

.nav-header {
  display: inline;
  margin: 0 auto;
}

.nav-title {
    font-size: 1rem;
    color: #fff;
    margin: 1rem;
}


.nav-body {
    justify-content: right;
  display: flex;
  width: 100%;
}

.nav-item {
  display: inline-block;
  margin-right: 2rem;
  width: 5rem;
  height: 1.5rem;
}


a{
    text-decoration: none;
    color: white;
    height: auto;
    width: auto;
    cursor: pointer;
}

a::hover::after{
    color: #e6e9eb;
    text-decoration: solid underline;
}