.search{
    border-bottom: 1px solid gray;
}

.searchForm{
    padding: 10px;
    color: white;
}

.searchForm > input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;

}

.searchForm > input::placeholder {
    color: lightgrey;
}
